# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
env/

# ==========================================
# Environment Variables
# ==========================================
.env
.env.*

# ==========================================
# VS Code
# ==========================================
.vscode/

# ==========================================
# JetBrains IDEs
# ==========================================
.idea/

# ==========================================
# macOS
# ==========================================
.DS_Store

# ==========================================
# Windows
# ==========================================
Thumbs.db
desktop.ini

# ==========================================
# Logs
# ==========================================
*.log

# ==========================================
# Build
# ==========================================
dist/
build/

# ==========================================
# Node
# ==========================================
node_modules/

# ==========================================
# Database
# ==========================================
*.db
*.sqlite3

# ==========================================
# Temporary Files
# ==========================================
*.tmp
*.temp